menuconfig FIH_CONFIG_GROUP
    bool "FIH Configurations Group"
    default y
    help
        Turn on this group to enable FIH's configurations menu

if FIH_CONFIG_GROUP
    comment "FIH Project Flags for FIH_CONFIG_GROUP"

    choice
        prompt "Select a project name"
        default FIH_PROJECT_NAN

        config FIH_PROJECT_NAN
            bool "01. FIH_PROJECT_NAN"
            help
                Enable the support for FIH_PROJECT_NANHU flag
        config FIH_PROJECT_TAP
            bool "02. FIH_PROJECT_TAP"
            help
                Enable the support for FIH_PROJECT_TAPIOCA flag
        config FIH_PROJECT_MES
            bool "03. FIH_PROJECT_MES"
            help
                Enable the support for FIH_PROJECT_MESONA flag

        config FIH_PROJECT_JLO
            bool "04. FIH_PROJECT_JLO"
            help
                Enable the support for FIH_PROJECT_JLO flag
    endchoice

    # --- FIH_PROJECT_NAN{-------------------------------------------------- START
    # ***********************************************************
    # Project configurations for FIH_PROJECT_NAN
    # ***********************************************************
    menu "Configurations for FIH_PROJECT_NAN"
        depends on FIH_PROJECT_NAN

        config FIH_MACH_TAMSUI_NAN
            bool "FIH_MACH_TAMSUI_NAN"
            depends on FIH_PROJECT_NAN
            default y
            help
                Enable/Disable the build flag FIH_MACH_TAMSUI_NAN.

        config SEMC_S1
            bool "SEMC_S1"
            depends on FIH_PROJECT_NAN
            default y
            help
                Enable/Disable SEMC S1 boot for NAN.

    endmenu
    # --- FIH_PROJECT_NAN}-------------------------------------------------- END

    # --- FIH_PROJECT_TAP{-------------------------------------------------- START
    # ***********************************************************
    # Project configurations for FIH_PROJECT_TAP
    # ***********************************************************
    menu "Configurations for FIH_PROJECT_TAP"
        depends on FIH_PROJECT_TAP

        config FIH_MACH_TAMSUI_TAP
            bool "FIH_MACH_TAMSUI_TAP"
            depends on FIH_PROJECT_TAP
            default y
            help
                Enable/Disable the build flag FIH_MACH_TAMSUI_TAP.

        config FIH_SEMC_S1
            bool "FIH_SEMC_S1"
            depends on FIH_PROJECT_TAP
            default y
            help
                Enable/Disable SEMC S1 boot for TAP.

        menuconfig FIH_TOUCHSCREEN
            bool "FIH TouchScreen"
            depends on FIH_CONFIG_GROUP
            default y
            help
                Select if the touch panel is attached.

        if FIH_TOUCHSCREEN
        config FIH_TOUCHSCREEN_CYTTSP_I2C_TMA340
            bool "Cypress TTSP based touchscreens TMA340"
            depends on I2C && FIH_TOUCHSCREEN
            default y
            help
                Select if the Cypress TMA340 touch panel is attached.
        endif

        config FIH_SW3_BATTERY
            bool "FIH battery driver"
            default y
            help
                Enable FIH battery driver

        config FIH_SW3_BQ275X0_ROMMODE
            bool "Enable BQ275x0 programming driver"
            depends on FIH_SW3_BATTERY
            default y
            help
                  Enable bq275x0 programming driver.

        config FIH_SW3_BQ275X0_ROMMODE_AUTO_UPGRADE
            bool "Enable DFI/FW auto upgrade"
            depends on FIH_SW3_BQ275X0_ROMMODE
            default y
            help
                  Enable auto upgrade while driver probe.

        config FIH_SW3_POWER_OFF_CHARGING
            bool "Enable power off charging mode"
            depends on FIH_SW3_BATTERY
            default y
            help
                Enable power off charging mode.

        config FIH_SW1_FEATURE_BATTERY_THERMAL_VIA_PMIC
            bool "Enable get battery thermal from PMIC. "
            depends on FIH_SW3_BATTERY
            default y
            help
                Enable the patch which get battery temperature from PMIC.

        config FIH_SENSOR
            bool "FIH Sensors"
            depends on FIH_CONFIG_GROUP
            default y
            help
                Say Y here if you want to support FIH senosrs.

        config FIH_MSENSOR_AKM8975
            bool "Magnetic Field Sensor: AK8975B"
            depends on I2C && FIH_SENSOR
            default n
            help
                Say Y here if you want to support Asahi Kasei's
                magnetic/orientation sensor AK8975.

        config FIH_ASENSOR_BMA250
            bool "Acceleration Sensor: BMA250"
            depends on I2C && FIH_SENSOR
            default y
            help
                Say Y here if you want to support Bosch Sensortec's
                acceleration sensor BMA250.

        config FIH_PSENSOR_QPDSS702
            bool "Proximity Sensor: QPDS-S702"
            depends on I2C && FIH_SENSOR
            default y
            help
                Say Y here if you want to support AVAGO's
                proximity sensor QPDS-S702.

        config PROXIMITY_SENSOR_CALIBRATON_REPLACE
            bool "Proximity Sensor calibration replace"
            depends on FIH_PSENSOR_QPDSS702
            default n
            help
                Support for proximity sensor calibration data replace from nv

        config FIH_CAMERA
            bool "Enable Camera for FIH project"
            depends on MSM_CAMERA
            default y
            ---help---
              Enable Camera for FIH project

        config ISX006
            bool "Sensor isx006 (SOC 5M)"
            depends on FIH_CAMERA 
            default y
            ---help---
              Sony 5M SOC Sensor

        config CAMERA_FLASH_LM3561
            bool "Lm3561 flash driver IC of LED"
            depends on FIH_CAMERA && ISX006
            default y
            ---help---
              Led flash driver IC for Camera

        config MT9V115
            bool "Sensor mt9v115 (SOC VGA)"
            depends on FIH_CAMERA
            default y
            ---help---
              Aptina VGA SOC Sensor

        config FIH_BRIGHTNESS
            bool "Support camera brightness setting"
            default y
            help
                Enable camera brightness setting.

        config FIH_WB
            bool "Support camera white balance setting"
            default y
            help
                Enable camera white balance setting.

        config FIH_METRY
            bool "Support camera AE metry setting"
            default y
            help
                Enable camera AE metry setting.

        config FIH_SCENE
            bool "Support camera scene mode setting"
            default y
            help
                Enable camera scene mode setting.

        config FIH_ZOOM_FOR_RECORDING
            bool "Support camera zoom in/out when recording"
            default n
            help
                Enable camera zoom in/out when recording.

        config BROADCOM_BCM4330_BTFM
            tristate "Broadcom BCM4330 is used"
            default y
            depends on FIH_CONFIG_GROUP
            help
                If you say yes here you get support for broadcom BCM4330.

        config BROADCOM_BCM4330_BTFM_SLEEP
            tristate "Enable Broadcom BCM4330 Sleep mode"
            default y
            depends on FIH_CONFIG_GROUP && BROADCOM_BCM4330_BTFM
            help
                If you say yes here you get support for broadcom BCM4330 Sleep mode.

        config FIH_SW_DISPLAY
            bool "FIH display driver"
            default y
            help
                FIH display driver.

        config FIH_FB_MSM_POWER_OFF_CHARGING_ANIMATION
            depends on FIH_SW_DISPLAY
            bool "Support for power off charging animation"
            default y
            help
                Enable show power off charging pictures.

        config FIH_SW_DISPLAY_BACKLIGHT_CMD_QUEUE
            depends on FIH_SW_DISPLAY
            bool "Enable backlight command queue"
            default y
            help
                Queuing backlight commands before pan display, and send after pan display.

        config FIH_SW_DISPLAY_CMI_LCM_HEALTHY_CHECK
            depends on FIH_SW_DISPLAY && FIH_PROJECT_MES
            bool "Enable CMI LCM healthy check"
            default n
            help
                Enable MIPI healthy check, retry initial sequence once panel crashed.

        config FIH_SW_DISPLAY_LCM_ID_CHECK
            depends on FIH_SW_DISPLAY && FIH_PROJECT_TAP
            bool "Enable LCM id check"
            default y
            help
                Enable LCM id check.

        config FIH_SW_DISPLAY_AUO_LCM_HEALTHY_CHECK
            depends on FIH_SW_DISPLAY && FIH_PROJECT_MES
            bool "Enable AUO LCM healthy check"
            default n
            help
                Enable AUO LCM healthy check.

        config FIH_SW_FWVGA_LOGO
            depends on FIH_SW_DISPLAY && FIH_PROJECT_JLO
            bool "Sony FWVGA Logo"
            default n
            help
                Select FWVGA Logo.

        config FIH_SW_DISPLAY_DSI_BKL_EN
            depends on FIH_SW_DISPLAY && FIH_PROJECT_JLO
            bool "DSI_BKL_EN"
            default n
            help
                DSI_BKL_EN

        config FIH_SW_DISPLAY_LCM_DIMMING
            depends on FIH_SW_DISPLAY
            bool "Enable LCM DIMMING by set DD"
            default n
            help
                Set DD of 0x53

        config FB_MSM_MIPI_DSI_HIMAX_CMD_HVGA_PT_PANEL
            bool "Enable FB_MSM_MIPI_DSI_HIMAX_CMD_HVGA_PT_PANEL"
            default n
            help
                Set FB_MSM_MIPI_DSI_HIMAX_CMD_HVGA_PT_PANEL

        config FB_MSM_MIPI_DSI_ILITEK_CMD_HVGA_PT_PANEL
            bool "Enable FB_MSM_MIPI_DSI_ILITEK_CMD_HVGA_PT_PANEL"
            default y
            help
                Set FB_MSM_MIPI_DSI_ILITEK_CMD_HVGA_PT_PANEL

        config FB_MSM_MIPI_DSI_ORISE_CMD_FWVGA_PT_PANEL
            bool "Enable FB_MSM_MIPI_DSI_ORISE_CMD_FWVGA_PT_PANEL"
            default n
            help
                Set FB_MSM_MIPI_DSI_ORISE_CMD_FWVGA_PT_PANEL

        config FIH_HEADSET
            bool "Enable FIH HEADSET"
            default y
            help
                Set FIH HEADSET
# FIH-SW-MM-VH-DISPLAY-21*]
    endmenu
    # --- FIH_PROJECT_TAP}-------------------------------------------------- END

    # --- FIH_PROJECT_MES{-------------------------------------------------- START
    # ***********************************************************    
    # Project configurations for FIH_PROJECT_MES
    # ***********************************************************
    menu "Configurations for FIH_PROJECT_MES"
        depends on FIH_PROJECT_MES

        config FIH_MACH_TAMSUI_MES
            bool "FIH_MACH_TAMSUI_MES"
            depends on FIH_PROJECT_MES
            default y
            help
                Enable/Disable the build flag FIH_MACH_TAMSUI_MES.

        config FIH_SEMC_S1
            bool "FIH_SEMC_S1"
            depends on FIH_PROJECT_MES
            default y
            help
                Enable/Disable SEMC S1 boot for MES.

        menuconfig FIH_TOUCHSCREEN
            bool "FIH TouchScreen"
            depends on FIH_CONFIG_GROUP
            default y
            help
                Select if the touch panel is attached.

        if FIH_TOUCHSCREEN
        menuconfig FIH_TOUCHSCREEN_CYTTSP_I2C_TMA340
            bool "Cypress TTSP based touchscreens TMA340"
            depends on I2C && FIH_TOUCHSCREEN
            default y
            help
                Select if the Cypress TMA340 touch panel is attached.

        if FIH_TOUCHSCREEN_CYTTSP_I2C_TMA340
        config FIH_TOUCHSCREEN_CYTTSP_I2C_TMA340_ESD
            bool "Cypress TMA340 Touchscreen ESD workaround"
            depends on I2C && FIH_TOUCHSCREEN_CYTTSP_I2C_TMA340
            default y
            help
                Select if the Cypress TMA340 Touchscreen ESD workaround needed.

            endif
        endif

        config FIH_SW3_BATTERY
            bool "FIH battery driver"
            default y
            help
                Enable FIH battery driver

        config FIH_SW3_BQ275X0_ROMMODE
            bool "Enable BQ275x0 programming driver"
            depends on FIH_SW3_BATTERY
            default y
            help
                  Enable bq275x0 programming driver.

        config FIH_SW3_BQ275X0_ROMMODE_AUTO_UPGRADE
            bool "Enable DFI/FW auto upgrade"
            depends on FIH_SW3_BQ275X0_ROMMODE
            default y
            help
                  Enable auto upgrade while driver probe.

        config FIH_SW3_POWER_OFF_CHARGING
            bool "Enable power off charging mode"
            depends on FIH_SW3_BATTERY
            default y
            help
                Enable power off charging mode.

        config FIH_SW1_FEATURE_BATTERY_THERMAL_VIA_PMIC
            bool "Enable get battery thermal from PMIC. "
            depends on FIH_SW3_BATTERY
            default y
            help
                Enable the patch which get battery temperature from PMIC.

        config FIH_SENSOR
            bool "FIH Sensors"
            depends on FIH_CONFIG_GROUP
            default y
            help
                Say Y here if you want to support FIH senosrs.

        config FIH_MSENSOR_AKM8975
            bool "Magnetic Field Sensor: AK8975B"
            depends on I2C && FIH_SENSOR
            default y
            help
                Say Y here if you want to support Asahi Kasei's
                magnetic/orientation sensor AK8975.

        config FIH_ASENSOR_BMA250
            bool "Acceleration Sensor: BMA250"
            depends on I2C && FIH_SENSOR
            default y
            help
                Say Y here if you want to support Bosch Sensortec's
                acceleration sensor BMA250.

        config FIH_PSENSOR_QPDSS702
            bool "Proximity Sensor: QPDS-S702"
            depends on I2C && FIH_SENSOR
            default y
            help
                Say Y here if you want to support AVAGO's
                proximity sensor QPDS-S702.

        config PROXIMITY_SENSOR_CALIBRATON_REPLACE
            bool "Proximity Sensor calibration replace"
            depends on FIH_PSENSOR_QPDSS702
            default n
            help
                Support for proximity sensor calibration data replace from nv

        config FIH_CAMERA
            bool "Enable Camera for FIH project"
            depends on MSM_CAMERA
            default y
            ---help---
              Enable Camera for FIH project

        config ISX006
            bool "Sensor isx006 (SOC 5M)"
            depends on FIH_CAMERA
            default y
            ---help---
              Sony 5M SOC Sensor

        config CAMERA_FLASH_LM3561
            bool "Lm3561 flash driver IC of LED"
            depends on FIH_CAMERA && ISX006
            default y
            ---help---
              Led flash driver IC for Camera

        config MT9V115
            bool "Sensor mt9v115 (SOC VGA)"
            depends on FIH_CAMERA
            default y
            ---help---
              Aptina VGA SOC Sensor

        config FIH_BRIGHTNESS
            bool "Support camera brightness setting"
            default y
            help
                Enable camera brightness setting.

        config FIH_WB
            bool "Support camera white balance setting"
            default y
            help
                Enable camera white balance setting.

        config FIH_METRY
            bool "Support camera AE metry setting"
            default y
            help
                Enable camera AE metry setting.

        config FIH_SCENE
            bool "Support camera scene mode setting"
            default y
            help
                Enable camera scene mode setting.

        config BROADCOM_BCM4330_BTFM
            tristate "Broadcom BCM4330 is used"
            default y
            depends on FIH_CONFIG_GROUP
            help
                If you say yes here you get support for broadcom BCM4330.

        config BROADCOM_BCM4330_BTFM_SLEEP
            tristate "Enable Broadcom BCM4330 Sleep mode"
            default y
            depends on FIH_CONFIG_GROUP && BROADCOM_BCM4330_BTFM
            help
                If you say yes here you get support for broadcom BCM4330 Sleep mode.

        config FIH_SW_DISPLAY
            bool "FIH display driver"
            default y
            help
                FIH display driver.

        config FIH_FB_MSM_POWER_OFF_CHARGING_ANIMATION
            depends on FIH_SW_DISPLAY
            bool "Support for power off charging animation"
            default y
            help
                Enable show power off charging pictures.

        config FIH_SW_DISPLAY_BACKLIGHT_CMD_QUEUE
            depends on FIH_SW_DISPLAY
            bool "Enable backlight command queue"
            default y
            help
                Queuing backlight commands before pan display, and send after pan display.

        config FIH_SW_DISPLAY_CMI_LCM_HEALTHY_CHECK
            depends on FIH_SW_DISPLAY && FIH_PROJECT_MES
            bool "Enable CMI LCM healthy check"
            default y
            help
                Enable MIPI healthy check, retry initial sequence once panel crashed.

        config FIH_SW_DISPLAY_LCM_ID_CHECK
            depends on FIH_SW_DISPLAY && FIH_PROJECT_TAP
            bool "Enable LCM id check"
            default n
            help
                Enable LCM id check.

        config FIH_SW_DISPLAY_AUO_LCM_HEALTHY_CHECK
            depends on FIH_SW_DISPLAY && FIH_PROJECT_MES
            bool "Enable AUO LCM healthy check"
            default y
            help
                Enable AUO LCM healthy check.

        config FIH_SW_FWVGA_LOGO
            depends on FIH_SW_DISPLAY && FIH_PROJECT_JLO
            bool "Sony FWVGA Logo"
            default n
            help
                Select FWVGA Logo.

        config FIH_SW_DISPLAY_DSI_BKL_EN
            depends on FIH_SW_DISPLAY && FIH_PROJECT_JLO
            bool "DSI_BKL_EN"
            default n
            help
                DSI_BKL_EN

        config FIH_SW_DISPLAY_LCM_DIMMING
            depends on FIH_SW_DISPLAY
            bool "Enable LCM DIMMING by set DD"
            default n
            help
                Set DD of 0x53

        config FB_MSM_MIPI_DSI_HIMAX_CMD_HVGA_PT_PANEL
            bool "Enable FB_MSM_MIPI_DSI_HIMAX_CMD_HVGA_PT_PANEL"
            default y
            help
                Set FB_MSM_MIPI_DSI_HIMAX_CMD_HVGA_PT_PANEL

        config FB_MSM_MIPI_DSI_ILITEK_CMD_HVGA_PT_PANEL
            bool "Enable FB_MSM_MIPI_DSI_ILITEK_CMD_HVGA_PT_PANEL"
            default n
            help
                Set FB_MSM_MIPI_DSI_ILITEK_CMD_HVGA_PT_PANEL

        config FB_MSM_MIPI_DSI_ORISE_CMD_FWVGA_PT_PANEL
            bool "Enable FB_MSM_MIPI_DSI_ORISE_CMD_FWVGA_PT_PANEL"
            default n
            help
                Set FB_MSM_MIPI_DSI_ORISE_CMD_FWVGA_PT_PANEL

        config FIH_HEADSET
            bool "Enable FIH HEADSET"
            default y
            help
                Set FIH HEADSET
    endmenu
    # --- FIH_PROJECT_MES}-------------------------------------------------- END
    # --- FIH_PROJECT_JLO{-------------------------------------------------- START
    # ***********************************************************
    # Project configurations for FIH_PROJECT_JLO
    # ***********************************************************
    menu "Configurations for FIH_PROJECT_JLO"
        depends on FIH_PROJECT_JLO

        config FIH_MACH_TAMSUI_JLO
            bool "FIH_MACH_TAMSUI_JLO"
            depends on FIH_PROJECT_JLO
            default y
            help
                Enable/Disable the build flag FIH_MACH_TAMSUI_JLO.

        config FIH_SEMC_S1
            bool "FIH_SEMC_S1"
            depends on FIH_PROJECT_JLO
            default y
            help
                Enable/Disable SEMC S1 boot for JLO.

        menuconfig FIH_TOUCHSCREEN
            bool "FIH TouchScreen"
            depends on FIH_CONFIG_GROUP
            default y
            help
                Select if the touch panel is attached.

        if FIH_TOUCHSCREEN
        config FIH_TOUCHSCREEN_CYTTSP_I2C_TMA340
            bool "Cypress TTSP based touchscreens TMA340"
            depends on I2C && FIH_TOUCHSCREEN
            default y
            help
                Select if the Cypress TMA340 touch panel is attached.
        endif

        config FIH_SW3_BATTERY
            bool "FIH battery driver"
            default y
            help
                Enable FIH battery driver

        config FIH_SW3_BQ275X0_ROMMODE
            bool "Enable BQ275x0 programming driver"
            depends on FIH_SW3_BATTERY
            default y
            help
                  Enable bq275x0 programming driver.

        config FIH_SW3_BQ275X0_ROMMODE_AUTO_UPGRADE
            bool "Enable DFI/FW auto upgrade"
            depends on FIH_SW3_BQ275X0_ROMMODE
            default y
            help
                  Enable auto upgrade while driver probe.
        config FIH_SW3_POWER_OFF_CHARGING
            bool "Enable power off charging mode"
            depends on FIH_SW3_BATTERY
            default y
            help
                Enable power off charging mode.

        config FIH_GAUGE_DISABLE_SLEEP_PLUS
            bool "DISABLE GAUGE SLEEP PLUS"
            depends on FIH_SW3_BATTERY
            default n
            help
                Disable gauge sleep plus function

        config FIH_SW1_FEATURE_BATTERY_THERMAL_VIA_PMIC
            bool "Enable get battery thermal from PMIC. "
            depends on FIH_SW3_BATTERY
            default y
            help
                Enable the patch which get battery temperature from PMIC.

        config FIH_SENSOR
            bool "FIH Sensors"
            depends on FIH_CONFIG_GROUP
            default y
            help
                Say Y here if you want to support FIH senosrs.

        config FIH_MSENSOR_AKM8975
            bool "Magnetic Field Sensor: AK8975B"
            depends on I2C && FIH_SENSOR
            default y
            help
                Say Y here if you want to support Asahi Kasei's
                magnetic/orientation sensor AK8975.

        config FIH_ASENSOR_BMA250
            bool "Acceleration Sensor: BMA250"
            depends on I2C && FIH_SENSOR
            default y
            help
                Say Y here if you want to support Bosch Sensortec's
                acceleration sensor BMA250.

        config FIH_PSENSOR_QPDSS702
            bool "Proximity Sensor: QPDS-S702"
            depends on I2C && FIH_SENSOR
            default y
            help
                Say Y here if you want to support AVAGO's
                proximity sensor QPDS-S702.

        config PROXIMITY_SENSOR_CALIBRATON_REPLACE
            bool "Proximity Sensor calibration replace"
            depends on FIH_PSENSOR_QPDSS702
            default n
            help
                Support for proximity sensor calibration data replace from nv

        config FIH_CAMERA
            bool "Enable Camera for FIH project"
            depends on MSM_CAMERA
            default y
            ---help---
              Enable Camera for FIH project

        config ISX006
            bool "Sensor isx006 (SOC 5M)"
            depends on FIH_CAMERA
            default y
            ---help---
              Sony 5M SOC Sensor

        config CAMERA_FLASH_LM3561
            bool "Lm3561 flash driver IC of LED"
            depends on FIH_CAMERA && ISX006
            default y
            ---help---
              Led flash driver IC for Camera

        config MT9V115
            bool "Sensor mt9v115 (SOC VGA)"
            depends on FIH_CAMERA
            default y
            ---help---
              Aptina VGA SOC Sensor

        config FIH_BRIGHTNESS
            bool "Support camera brightness setting"
            default y
            help
                Enable camera brightness setting.

        config FIH_WB
            bool "Support camera white balance setting"
            default y
            help
                Enable camera white balance setting.

        config FIH_METRY
            bool "Support camera AE metry setting"
            default y
            help
                Enable camera AE metry setting.

        config FIH_SCENE
            bool "Support camera scene mode setting"
            default y
            help
                Enable camera scene mode setting.

        config BROADCOM_BCM4330_BTFM
            tristate "Broadcom BCM4330 is used"
            default y
            depends on FIH_CONFIG_GROUP
            help
                If you say yes here you get support for broadcom BCM4330.

        config BROADCOM_BCM4330_BTFM_SLEEP
            tristate "Enable Broadcom BCM4330 Sleep mode"
            default y
            depends on FIH_CONFIG_GROUP && BROADCOM_BCM4330_BTFM
            help
                If you say yes here you get support for broadcom BCM4330 Sleep mode.

        config FIH_SW_DISPLAY
            bool "FIH display driver"
            default y
            help
                FIH display driver.

        config FIH_FB_MSM_POWER_OFF_CHARGING_ANIMATION
            depends on FIH_SW_DISPLAY
            bool "Support for power off charging animation"
            default y
            help
                Enable show power off charging pictures.

        config FIH_SW_DISPLAY_BACKLIGHT_CMD_QUEUE
            depends on FIH_SW_DISPLAY
            bool "Enable backlight command queue"
            default y
            help
                Queuing backlight commands before pan display, and send after pan display.

        config FIH_SW_DISPLAY_CMI_LCM_HEALTHY_CHECK
            depends on FIH_SW_DISPLAY && FIH_PROJECT_MES
            bool "Enable CMI LCM healthy check"
            default n
            help
                Enable MIPI healthy check, retry initial sequence once panel crashed.

        config FIH_SW_DISPLAY_LCM_ID_CHECK
            depends on FIH_SW_DISPLAY && FIH_PROJECT_TAP
            bool "Enable LCM id check"
            default n
            help
                Enable LCM id check.

        config FIH_SW_DISPLAY_AUO_LCM_HEALTHY_CHECK
            depends on FIH_SW_DISPLAY && FIH_PROJECT_MES
            bool "Enable AUO LCM healthy check"
            default n
            help
                Enable AUO LCM healthy check.

        config FIH_SW_FWVGA_LOGO
            depends on FIH_SW_DISPLAY && FIH_PROJECT_JLO
            bool "Sony FWVGA Logo"
            default y
            help
                Select FWVGA Logo.

        config FIH_SW_DISPLAY_DSI_BKL_EN
            depends on FIH_SW_DISPLAY && FIH_PROJECT_JLO
            bool "DSI_BKL_EN"
            default y
            help
                DSI_BKL_EN

        config FIH_SW_DISPLAY_LCM_DIMMING
            depends on FIH_SW_DISPLAY
            bool "Enable LCM DIMMING by set DD"
            default n
            help
                Set DD of 0x53

        config FB_MSM_MIPI_DSI_HIMAX_CMD_HVGA_PT_PANEL
            bool "Enable FB_MSM_MIPI_DSI_HIMAX_CMD_HVGA_PT_PANEL"
            default n
            help
                Set FB_MSM_MIPI_DSI_HIMAX_CMD_HVGA_PT_PANEL

        config FB_MSM_MIPI_DSI_ILITEK_CMD_HVGA_PT_PANEL
            bool "Enable FB_MSM_MIPI_DSI_ILITEK_CMD_HVGA_PT_PANEL"
            default n
            help
                Set FB_MSM_MIPI_DSI_ILITEK_CMD_HVGA_PT_PANEL

        config FB_MSM_MIPI_DSI_ORISE_CMD_FWVGA_PT_PANEL
            bool "Enable FB_MSM_MIPI_DSI_ORISE_CMD_FWVGA_PT_PANEL"
            default y
            help
                Set FB_MSM_MIPI_DSI_ORISE_CMD_FWVGA_PT_PANEL

        config FIH_HEADSET
            bool "Enable FIH HEADSET"
            default y
            help
                Set FIH HEADSET
    endmenu
    # --- FIH_PROJECT_JLO}-------------------------------------------------- END
endif
